# This workflow will release a new version of this package if a new github release was created.

name: Release - Workflow

on:
  release:
    types:
      - created
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: https://registry.npmjs.org/
          cache: "npm"
      - run: make build
      - run: make test
      - name: Sync package.json with new version
        run: |
          NEW_VERSION=${{ github.ref_name }}
          CUR_VERSION=$(jq -r .version package.json)
          NEW_VERSION=$(echo "${NEW_VERSION}" | sed 's/^v//')

          echo "NEW VERSION: ${NEW_VERSION}"

          if [[ NEW_VERSION != CUR_VERSION ]]; then 
            jq --arg VERSION "${NEW_VERSION}" '.version = $VERSION' package.json > tmp.package.json
            mv tmp.package.json package.json 
          fi
      - run: make release
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
